#carouselImg{
    width: 100vw;
    height: 50vh;
} 

#carouselImg img{
width:100%;
height: 100%;
}


.Logo{
    display: flex !important;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.restaurantes{
    display: flex !important;
    justify-content:space-around;
    padding: 10%;
    
}

.pessoas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.pessoas > div > img{
    max-height: 300px;
    border-radius: 50%;
   
}